<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Remy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/compra']">Compra</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/venta']">Venta</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuraciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" [routerLink]="['/categoria']">Categorias</a></li>
            <li><a class="dropdown-item" href="#" [routerLink]="['/producto']">Productos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Tipos</a></li>
            <li><a class="dropdown-item" href="#">Estatus</a></li>
            <li><a class="dropdown-item" href="#">Proveedores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">LOG</a></li>

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Cerrar Sesion <i class="fa fa-sign-out"></i></a>
        </li>


      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
