<div class="container mt-5">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center card-title">Compras</h3>
        <button type="button" class="btn btn-primary" [routerLink]="['/createCompra']">Nuevo <i class="fa fa-plus"></i></button>
      </div>
      <div class="card-body">

        <div class="table-responsive">
          <table class="table-hover table">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Importe</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <td>Tazas</td>
              <td>10</td>
              <td>230</td>
              <th>
                <div class="d-grid gap-2 d-md-block">
                  <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button> |
                  <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </div>
              </th>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
