<div class="container mt-5">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h4 class="title-card text-center">Categoria</h4>

        <div class="btn-group" role="group" aria-label="Basic outlined example">
         <button class="btn btn-success" type="button" [routerLink]="['/createCategoria']">Nuevo <i class="fa fa-plus"></i></button>
        </div>

        <div class="row mt-4">

          <div class="col-sm-6 mb-3 mb-sm-0 shadow-sm">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tazas</h5>
                <p class="card-text">Tazas de 11 oz, para la sublimacion.</p>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-outline-primary">Editar</button>
                  <button type="button" class="btn btn-outline-primary">Eliminar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 shadow-sm">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Termos</h5>
                <p class="card-text">Sublimacion de termos, para toda la ocacion</p>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-outline-primary">Editar</button>
                  <button type="button" class="btn btn-outline-primary">Eliminar</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
